# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# SQLite database files
*.sqlite3
*.db

# dotenv environment variables
.env
.env.*

# VS Code settings
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Jupyter notebooks
.ipynb_checkpoints

# Logs
*.log

# Alembic migrations cache
alembic/versions/*.pyc
